@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all 0.2s ease-in-out;
}

body {
    background-color: #1e293b;
    color: white;
}

input {
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    color: white;
}

th,
td {
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    @apply text-white;
}
td {
    @apply text-gray-900;
}
tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

tbody tr:nth-child(even) {
    background-color: #cccccc;
}

tbody tr:hover {
    background-color: #b6b4b4;
}

th {
    text-align: center;
}
